snippet lt "<%= link_to .. %>"
<%= link_to ${1:"${2:label}"}, ${3:path} %>$0
endsnippet

snippet it "<%= image_tag .. %>"
<%= image_tag ${1} %>$0
endsnippet

snippet sslt "<%= stylesheet_link_tag .. "
<%= stylesheet_link_tag ${1} %>$0
endsnippet

snippet end "<% end %>"
<% end %>
endsnippet
