<+public+> class <+\<C-R>=Snippet_JavaClassNameFromFilename()\<CR>+><++> {

  public <+\<C-R>=Snippet_JavaClassNameFromFilename()\<CR>+>(<++>) {
  }

  public static void main(String args[]) {
  }

}
